{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block content %}
<!-- Borraremos el menu superior para este formulario de perfiles
{% include 'pages/includes/pages_menu.html'%} -->
<style>label{display:none}</style>
<main role="main">
  <div class="container">
    {% comment %} 
    Estilos de bootstrap para los margenes
    margintop = mt-3
    marginbottom = mt-5 
    {% endcomment %}
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
            <h3>Perfil</h3>
            <!-- si quiseramos mostrar en enlace de nuestro perfil, simplemente
            haríamos lo siguiente: -->
            
            <!-- Accedemos a la petición, luego al usuario, y luego al perfil (que
            es el modelo con los campos extras que añadimos) con el campo que
            queremos -->

            <!-- Esto es gracias a que las relaciones OneToOne Field se el enlazan automaticamente
            al modelo con su mismo nombre, ni siquiera tenemos que definir un related_name -->

            <p>Link: <a target="_blank" href="{{ request.user.profile.link }}"> {{ request.user.profile.link }}</a></p>

            <!-- Comprobamos si hay una imagen para este usuario, si es así la mostrará -->
            {% if request.user.profile.avatar.url != null %}
            <div class="p-2">
                <img class="img-fluid rounded-circle" src="{{ request.user.profile.avatar.url }}" alt="{{ request.user.username }}">
            </div>
            {% endif %}
        
            <!-- Aquí se añadira lo siguiente como este formulario es para
            actualizar los datos, al principio no traera nada pero cuando
            ya se le guarden datos este los cargara si los hay, el problema es
            que al cargar esos datos no es capaz de mostrar las imagenes que trae
            para ello se editara el form para que al recargar 
            el formulario traiga los datos, pueda mostrar las imagenes. -->

            <!-- Se añade al formulario enctype="multipart/form-data" que se debe de
            crear cuando queremos enviar archivos, ya sean imagenes o ficheros
            si no lo establecemos, el no sabra que este formulario puede aceptar
            ficheros, y nunca va a permitir subir información de este tipo. -->

            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <!-- Crearemos una clase para editar los estilos y configuraciones de nuestro
                formulario en el archivo forms.py de está app -->
               {{ form.as_p }}
              <div class="text-center">
                <input type="submit" class="btn btn-primary btn-block" value="Actualizar" />
              </div>
            </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}